
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


a {
  margin: 0;
}


//Colors

.green-font {
  color: $green-color;
}

.green-background {
  background-color: $green-color;
  border: 1px solid $green-color;
}

.green-background:hover {
  background-color: rgb(50, 150, 100);
}